*{
    box-sizing: border-box;
    margin: none;
}
html{
    overflow: hidden;
    margin: none;
}
html,body { 
    font-size: 1.2em;
    font-family: 'Arvo', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

a {
    color: #000;
    margin: 0.2em;
    text-decoration: none;
}

#hangm_gameover, #hangm_victory {
    font-size: 2em;
}

section#hangman {
    height: 30.5em;
    overflow: hidden;
}
#hangm_end{
    height: 26px;
}
#hangm {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    min-width: 1000px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.911);
}

#hangm.fondo{
    background: rgba(63, 188, 255, 0.686);
}

#hangm.letras{
    color: rgb(137, 228, 0);
    filter: grayscale(0);
}

.h {
    opacity: 0.1;
    filter: grayscale(1);
}

#hangm_animation {
    height: 10em;
    margin: 0 auto;
    width: 11em;
}

#hangm_word, 
#hangm_guesses {
    letter-spacing: 1em;
}

.man_head {
	border-radius: 50%;
	width: 40px;
	height: 40px; 
    background-color: #12c0ff;
    position: relative;
    bottom: 150px;
    left: 112px;
	/* width and height can be anything, as long as they're equal */
}

.man_upper {
    background: #12c0ff;
    width: 40px;
    height: 50px;
    position: relative;
    left: 112px;
    bottom: 150px;
}

.man_lower {
    width: 30px;
    height: 30px;
    position: relative;
    left: 117px;
    bottom: 150px;
    background: #12c0ff;
}
.man_brace{
    background: #12c0ff;
    width: 20px;
    height: 40px;
    position: relative;
}
.h.man_brace.lefting{
    left:155px;
    bottom: 230px;
}
.h.man_brace.righting{
    right: -90px;
    bottom: 270px;
}
.pole_h {
    background: #000;
    width: 100px;
    height: 8px;
    position: relative;
    left: 46px;
}

.pole_v {
    width: 8px;
    height: 150px;
    background: #000;
    left: 46px;
    position: relative;
}

.pole_b {
    border-color: transparent transparent #000000 transparent;
    border-width: 0 50px 50px 50px;
    border-style: solid;
    width: 0;
    height: 0;
    bottom: 10px;
    position: relative;
}

.rope {
    width: 6px;
    height: 40px;
    background-color: #12c0ff;
    position: relative;
    bottom: 150px;
    left: 130px;
}
canvas{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin: none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botones{
    width: 90%;
    height: 70px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.btn{
    width: 100px;
    margin: 0 15px;
    padding: 10px;
    background-color: #000;
    color: antiquewhite;
    border-radius: 4px;
}